@using MyM365App.ViewModels;
@using MyM365App.Models;
@model ViewModel

@{
    ViewData["Title"] = "Home Page";
}



<PageHeader className="site-page-header"
            title="Dashboard"
            subTitle=" This dashboard provides different Microsoft 365 tiles based on Microsoft Graph API for the currently logged in user." />

<div class="tab-container">
    <div class="ant-card">
    <Tabs type="card" defaultActiveKey="1">
        <Tabs.TabPane tab="Charts" key="1">
        <div class="two-columns">
            <div>
                <Card hoverable title="Messages stats" extra={<img width="25" src="img/chatmessages.svg" />} >
             {
                 messagesDataLoading && <Skeleton />
             }
            <div id="messagesChart" style={{ width: "100%" , height: "250px" }}></div>
        </Card>
            </div>
            <div>
                <Card class="ant-card-chart" hoverable title="Chats stats" extra={<img width="25" src="img/chatstats.svg" />} >
             {
                chatsDataLoading && <Skeleton />
             }
            <div id="chatsChart" style={{ width: "100%" , height: "250px" }}></div>
        </Card>
            </div>
        </div>

        <div class="two-columns">
            <div>
                <Card hoverable title="Files stats" extra={<img width="25" src="img/document.svg" />} >
             {
                 filesDataLoading && <Skeleton />
             }
            <div id="filesChart" style={{ width: "100%" , height: "250px" }}></div>
        </Card>
            </div>
            <div>
                <Card hoverable title="Tasks stats" extra={<img width="25" src="img/taskstile.svg" />} >
             {
                 tasksDataLoading && <Skeleton />
             }
            <div id="tasksChart" style={{ width: "100%" , height: "250px" }}></div>
        </Card>
            </div>
        </div>
    </Tabs.TabPane>
    <Tabs.TabPane tab="Tiles" key="2">


        <div class="card-wrapper">
            @*Recent documents card*@
            <div class="card-container">
                <Card hoverable title="Recent documents" extra={<img width="25" src="img/recentdocuments.svg" />} >
     <ul class="ant-list-items">

         {
              recentDocuments.length === 0 && <Skeleton />
         }
        {

            recentDocuments.length > 0 && recentDocuments.map(doc => {
                return (
                    <li className="ant-list-item">
                        <div className="ant-list-item-meta">
                            <div className="ant-list-item-meta-avatar">
                                <span className="ant-avatar ant-avatar-image css-1me4733">
                                <img src={doc.icon}/>
                                </span>
                            </div>
                            <div className="ant-list-item-meta-content">
                                    <h4 className="ant-list-item-meta-title"><a href={doc.url} target="_blank" >{doc.title}</a></h4>
                            </div>
                        </div>
                    </li>
                );
            })
        }


            </ul>
    </Card>
            </div>
            @*Viewed and modified card*@
            <div class="card-container">
                <Card hoverable title="Viewed and modified" extra={<img width="25" src="img/viewedandmodified.svg" />} >
        <ul class="ant-list-items">
            {
                usedDocuments.length === 0 && <Skeleton />
            }
            {

            usedDocuments.length > 0 && usedDocuments.map(doc => {

                return (
                        <li class="ant-list-item">
                        <div class="ant-list-item-meta">
                            <div class="ant-list-item-meta-avatar">
                                <span class="ant-avatar ant-avatar-image">
                                        <img src={doc.icon}/>
                                    </span>
                            </div>
                            <div class="ant-list-item-meta-content">
                                <h4 class="ant-list-item-meta-title">
                                                <a href="{doc.url}" target="_blank">{doc.title}</a>
                                    </h4>
                                    <div class="ant-list-item-meta-description">{doc.modified}</div>
                            </div>
                        </div>
                    </li>
                );
            })
        }
        </ul>
    </Card>
            </div>

            @*My OneDrive Items card*@
            <div class="card-container">
                <Card hoverable title="OneDrive items" extra={<img width="25" src="img/onedrivefolder.svg" />} >
        <ul class="ant-list-items">
            {
                oneDriveItems.length === 0 && <Skeleton />
            }
            {

            oneDriveItems.length > 0 && oneDriveItems.map(doc => {

                return (
                        <li class="ant-list-item">
                        <div class="ant-list-item-meta">
                            <div class="ant-list-item-meta-avatar">
                                <span class="ant-avatar ant-avatar-image">
                                <img src={doc.icon}/>
                                </span>
                            </div>
                            <div class="ant-list-item-meta-content">
                                    <h4 class="ant-list-item-meta-title"><a href="{doc.url}" target="_blank">{doc.title}</a></h4>
                    <div class="ant-list-item-meta-description">{doc.modified}</div>
                            </div>
                        </div>
                    </li>
                );
            })
            }
        </ul>
    </Card>
            </div>

            @*My Notebooks card*@
            <div class="card-container">
                <Card hoverable title="Notebooks" extra={<img width="25" src="img/notebook.svg" />} >
     <ul class="ant-list-items">

                 {
                      notebooks.length === 0 && <Skeleton />
                 }
                 {
                      notebooks.length > 0 && notebooks.map(notebook => {

                        return (
                              <li class="ant-list-item">
                                <div class="ant-list-item-meta">
                                    <div class="ant-list-item-meta-avatar">
                                        <span class="ant-avatar ant-avatar-image">
                                            <img src={notebook.icon}/>
                                        </span>
                                    </div>
                                    <div class="ant-list-item-meta-content">
                                            <h4 class="ant-list-item-meta-title"><a href="{notebook.links.oneNoteWebUrl.href}" target="_blank">{notebook.displayName}</a></h4>
                                                <div class="ant-list-item-meta-description">{notebook.lastModified} | {notebook.lastModifiedBy}</div>
                                    </div>
                                </div>
                            </li>
                        );
                      })
                 }

            </ul>
    </Card>
            </div>

            @*My events card*@
            <div class="card-container">
                <Card hoverable title="Events" extra={<img width="25" src="img/eventstile.svg" />} >
     <ul class="ant-list-items">

                 {
                      events.length === 0 && <Skeleton />
                 }
                 {
                      events.length > 0 && events.map(event => {

                        return (
                              <li class="ant-list-item">
                                <div class="ant-list-item-meta">
                                    <div class="ant-list-item-meta-avatar">
                                        <span class="ant-avatar ant-avatar-image">
                                            <img src="img/event.svg"/>
                                        </span>
                                    </div>
                                    <div class="ant-list-item-meta-content">
                                            <h4 class="ant-list-item-meta-title"><a href="{event.webLink}" target="_blank">{event.subject}</a></h4>
                                    </div>
                                </div>
                            </li>
                        );
                      })
                 }

            </ul>
    </Card>
            </div>

            @*My sites card*@
            <div class="card-container">
                <Card hoverable title="Sites" extra={<img width="25" src="img/sitestile.svg" />} >
     <ul class="ant-list-items">

                 {
                      sites.length === 0 && <Skeleton />
                 }
                 {
                      sites.length > 0 && sites.map(site => {

                        return (
                              <li class="ant-list-item">
                                <div class="ant-list-item-meta">
                                    <div class="ant-list-item-meta-avatar">
                                        <span class="ant-avatar ant-avatar-image">
                                            <img src="img/site.svg"/>
                                        </span>
                                    </div>
                                    <div class="ant-list-item-meta-content">
                                            <h4 class="ant-list-item-meta-title"><a href="{site.webUrl}" target="_blank">{site.displayName}</a></h4>
                                    </div>
                                </div>
                            </li>
                        );
                      })
                 }

            </ul>
    </Card>
            </div>

            @*My contacts card*@
            <div class="card-container">
                <Card hoverable title="Contacts" extra={<img width="25" src="img/contactstile.svg" />} >
     <ul class="ant-list-items">

                 {
                      contacts.length === 0 && <Skeleton />
                 }
                 {
                      contacts.length > 0 && contacts.map(contact => {

                        return (
                              <li class="ant-list-item">
                                <div class="ant-list-item-meta">
                                    <div class="ant-list-item-meta-avatar">
                                        <span class="ant-avatar ant-avatar-image">
                                            <img src="img/contact.svg"/>
                                        </span>
                                    </div>
                                    <div class="ant-list-item-meta-content">
                                        <h4 class="ant-list-item-meta-title">{contact.displayName}</h4>
                                        <div class="ant-list-item-meta-description">{contact.emailAddresses[0].address}</div>
                                    </div>
                                </div>
                            </li>
                        );
                      })
                 }

            </ul>
    </Card>
            </div>

            @*My people card*@
            <div class="card-container">
                <Card hoverable title="Colleagues" extra={<img width="25" src="img/colleaguestiles.svg" />} >
     <ul class="ant-list-items">

                 {
                      people.length === 0 && <Skeleton />
                 }
                 {
                      people.length > 0 && people.map(person => {

                        return (
                              <li class="ant-list-item">
                                <div class="ant-list-item-meta">
                                    <div class="ant-list-item-meta-avatar">
                                        <span class="ant-avatar ant-avatar-image">
                                            <img src="img/contact.svg"/>
                                        </span>
                                    </div>
                                    <div class="ant-list-item-meta-content">
                                        <h4 class="ant-list-item-meta-title">{person.displayName}</h4>
                                        <div class="ant-list-item-meta-description">{person.userPrincipalName}</div>
                                    </div>
                                </div>
                            </li>
                        );
                      })
                 }

            </ul>
    </Card>
            </div>

            @*My tasks card*@
            <div class="card-container">
                <Card hoverable title="Tasks" extra={<img width="25" src="img/taskstile.svg" />} >
     <ul class="ant-list-items">

                 {
                      tasks.length === 0 && <Skeleton />
                 }
                 {
                      tasks.length > 0 && tasks.map(task => {

                        return (
                              <li class="ant-list-item">
                                <div class="ant-list-item-meta">
                                    <div class="ant-list-item-meta-avatar">
                                        <span class="ant-avatar ant-avatar-image">
                                            <img src="img/task.svg"/>
                                        </span>
                                    </div>
                                    <div class="ant-list-item-meta-content">
                                        <h4 class="ant-list-item-meta-title">{task.title}</h4>
                                        <div class="ant-list-item-meta-description"><Progress percent={task.percentComplete} size="small" /></div>

                                    </div>
                                </div>
                            </li>
                        );
                      })
                 }

            </ul>
    </Card>
            </div>

            @*My teams card*@
            <div class="card-container">
                <Card hoverable title="Joined Teams" extra={<img width="25" src="img/teamstiles.svg" />} >
     <ul class="ant-list-items">

                 {
                      teams.length === 0 && <Skeleton />
                 }
                 {
                      teams.length > 0 && teams.map(team => {

                        return (
                              <li class="ant-list-item">
                                <div class="ant-list-item-meta">
                                    <div class="ant-list-item-meta-avatar">
                                        <span class="ant-avatar ant-avatar-image">
                                            <img src="img/team.svg"/>
                                        </span>
                                    </div>
                                    <div class="ant-list-item-meta-content">
                                        <h4 class="ant-list-item-meta-title">{team.displayName}</h4>
                                        <div class="ant-list-item-meta-description">{team.description}</div>
                                    </div>
                                </div>
                            </li>
                        );
                      })
                 }

            </ul>
    </Card>
            </div>

            <div class="card-container">
                <Card class="ant-card-chart" hoverable title="Teams" extra={<img width="25" src="img/teamstiles.svg" />} >
             {
                !teamsData && <Skeleton />
             }
             {
                 teamsData &&
                 <>

                    <div>
                     <Statistic title="Installed Teams" value={teamsData.installedAppsCount} />
                     <Statistic title="Joined Teams" value={teamsData.associatedTeamsCount} />
                     {
                        lastChat &&
                        <div><b><a href={lastChat?.webUrl}>{lastChat?.members[0]?.displayName}</a></b> is the last person you chat with</div>
                    }
                    </div>

                 </>
             }

        </Card>
            </div>

        </div>



    </Tabs.TabPane>  
</Tabs>
    </div>
</div>




